{% if "weak_admin_credentials" in data.contains_type %}
    <li>{% trans %}We detected that the followng username and password pairs allowed successful login:{% endtrans %}
        <ul>
            {% for report in data.reports %}
                {% if report.report_type == "weak_admin_credentials" %}
                    <li>
                        {{ report.target }} - {% trans %}credentials:{% endtrans %} <strong>{{ report.additional_data.credentials[0] }}:{{ report.additional_data.credentials[1] }}</strong></li>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <p>
            {% trans trimmed %}
            Successful credential brute-force attack indicates that attackers could gain unauthorized access to administrative interfaces using an easy to guess username/password pair.
            This exposes the system to potential data breaches, configuration changes, and complete system compromise.
            {% endtrans %}
        </p>
    </li>
{% endif %}
