{% if "exposed_admin_panel_with_easy_password" in data.contains_type %}
    <li>{% trans %}The following addresses contain admin panels where a simple login/password pair allows login:{% endtrans %}
        <ul>
            {% for report in data.reports %}
                {% if report.report_type == "exposed_admin_panel_with_easy_password" %}
                    <li>{{ report.target }}: {% trans %}the following credentials allow login{% endtrans %}:
                        {% trans %}username{% endtrans %} {{ report.additional_data.credentials.0 }}
                        {% trans %}and{% endtrans %} {% if report.additional_data.credentials.1 %}
                            {% trans %}password{% endtrans %} {{ report.additional_data.credentials.1 }}
                        {% else %}
                            {% trans %}empty password{% endtrans %}
                        {% endif %}
                        {{ report_meta(report) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
{% endif %}
