repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
    name: isort (python)
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.991
  hooks:
  - id: mypy
    args: [--strict]
    additional_dependencies:
    - aiohttp==3.8.3
    - dnspython==2.2.1
    - karton-core==5.0.0
    - fastapi==0.88.0
    - pymongo-stubs==0.2.0
    - types-PyMySQL==1.0.19.1
    - requests_mock==1.10.0
    - types-beautifulsoup4==4.11.6.1
    - types-psycopg2==2.9.21.2
    - types-pytz==2022.7.0.0
    - types-redis==4.3.21.6
    - types-requests==2.28.11.5
    - uvicorn==0.20.0
    exclude: ^docs/ 
- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    args: [artemis]
