repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 24.3.0
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
  - id: isort
    name: isort (python)
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.9.0
  hooks:
  - id: mypy
    args: [--strict]
    additional_dependencies:
    - aiohttp==3.8.5
    - alembic==1.13.2
    - dnspython==2.4.2
    - fastapi==0.103.0
    - freezegun==1.2.2
    - Jinja2==3.1.2
    - karton-core==5.2.0
    - git+https://github.com/CERT-Polska/mailgoose@v1.0#egg=libmailgoose&subdirectory=scan
    - more-itertools==10.3.0
    - packaging==23.2
    - prometheus-client==0.17.1
    - pymongo-stubs==0.2.0
    - requests_mock==1.11.0
    - requests-cache==1.2.1
    - sqlalchemy-stubs==0.4
    - typer==0.9.0
    - types-beautifulsoup4==4.12.0.6
    - types-Markdown==3.4.2.10
    - types-paramiko==2.7.2
    - types-psutil==6.1.0.20241221
    - types-psycopg2==2.9.21.11
    - types-PyMySQL==1.1.0.1
    - types-pytz==2023.3.0.1
    - types-PyYAML==6.0.12.11
    - types-redis==4.6.0.5
    - types-requests==2.31.0.2
    - types-retry==0.9.9.4
    - types-termcolor==1.1.6.2
    - types-tqdm==4.66.0.2
    - uvicorn==0.23.2
- repo: https://github.com/PyCQA/flake8
  rev: 7.0.0
  hooks:
  - id: flake8
    args: [artemis]
