services:
  karton-port_scanner:
    environment:
        SCANNING_PACKETS_PER_SECOND: 5
        CUSTOM_PORT_SCANNER_PORTS: 21,80,6379

  karton-bruter:
    environment:
      REQUEST_PER_SECOND: 10
  redis:
    volumes:
      - data-test-redis:/data

  db:
    volumes:
     - data-test-mongodb:/data/db

volumes:
  data-test-mongodb:
  data-test-redis:
