CUSTOM_USER_AGENT=
DB_CONN_STR=mongodb://root:root@db
FRONTEND_PASSWORD=
FRONTEND_USERNAME=
NUM_WORKERS_PER_CONTAINER_BRUTER=5
NUM_WORKERS_PER_CONTAINER_IDENTIFIER=3
NUM_WORKERS_PER_CONTAINER_NUCLEI_ROUTER=3
NUM_WORKERS_PER_CONTAINER_PORT_SCANNER=5
NUM_WORKERS_PER_CONTAINER_SQLMAP=5
NUM_WORKERS_PER_CONTAINER_WORDPRESS_PLUGINS=5
POSTGRES_CONN_STR=postgresql://postgres:postgres@postgres/artemis
REDIS_CONN_STR=redis://redis:6379/1
SUBFINDER_API_KEYS='{"github":["testkey", "testkey2"], "virustotal": ["testkey", "testkey2"]}'
