aiofiles==24.1.0
aiohttp==3.11.14
alembic==1.15.2
anytree==2.12.1
Babel==2.17.0
beautifulsoup4==4.13.3
certifi==2025.1.31
chardet==5.2.0
click==8.1.8
cryptography==44.0.2
dnspython==2.7.0
fastapi==0.115.12
fastapi-csrf-protect==1.0.2
freezegun==1.5.1
h11==0.14.0
idna==3.10
Jinja2==3.1.6
karton-core==5.6.1
git+https://github.com/CERT-Polska/mailgoose@v1.3.6#egg=libmailgoose&subdirectory=scan
liccheck==0.9.2
Markdown==3.7
MarkupSafe==3.0.2
minio==7.2.1
more-itertools==10.6.0
packaging==24.2
paramiko==3.5.1
prometheus-client==0.21.1
psutil==7.0.0
psycopg2-binary==2.9.10
publicsuffixlist==1.0.2.20250316
pydantic==2.10.6
PyMySQL==1.1.1
python-decouple==3.8
pytz==2025.1
PyYAML==6.0.2
redis==5.2.1
requests==2.32.3
requests-cache==1.2.1
requests-mock==1.12.1
retry==0.9.2
SQLAlchemy==2.0.40
semver==3.0.4
setuptools==78.1.0
shodan==1.31.0
six==1.17.0
termcolor==2.5.0
timeout-decorator==0.5.0
tqdm==4.67.1
typer==0.15.2
typing-extensions==4.12.2
urllib3==1.26.18
uvicorn==0.34.0
validators==0.34.0
whoisdomain==1.20250220.2
