{% if "missing_security_header" in data.contains_type %}
    <li>{% trans %}We identified that not all possible security headers are set correctly:{% endtrans %}
        <ul>
            {% for report in data.reports %}
                {% if report.report_type == "missing_security_header" %}
                    <li>
                        {{ report.target }}: {{ _(report.additional_data.message_en) }}
                        {{ report_meta(report) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <p>
            {% trans trimmed %}
                Please verify the configuration, and, if a security header is missing, change it. Security
                headers can have a deep impact in protecting your application against attacks.
            {% endtrans %}
        </p>
    </li>
{% endif %}
