DEBUG=1
SECRET_KEY=foo
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=django_db
SQL_USER=django_user
SQL_PASSWORD=django_password
SQL_HOST=db
SQL_PORT=5432


DJANGO_SUPERUSER_PASSWORD=password
DJANGO_SUPERUSER_USERNAME=djangouser
DJANGO_SUPERUSER_EMAIL=test111111111@exampple.com
