{% if task.decision_type %}
    {% if task.decision_type == "approved" %}
        <span class="badge bg-primary">approved</span>
    {% else %}
        <span class="badge bg-secondary">dismissed</span>
    {% endif %}

    (comment={{ task.operator_comment }})
{% else %}
    <a href="/task/{{ task.uid }}">Decide</a>
{% endif %}
