{% if "sql_injection:core" in data.contains_type %}
    <li>{% trans %}We identified that the following URLs are vulnerable to SQL Injection or time-based SQL Injection:{% endtrans %}
        <ul>
            {% for report in data.reports %}
                {% if report.report_type == "sql_injection:core" %}
                    <li>
                        {{ report.target }}
                        <ul>
                        {% for message in report.additional_data.result %}
                            <li>
                                {{ message.url }}:
                                {% if message.code == report.additional_data.statements.sql_injection %}
                                    {% trans trimmed %}
                                        It appears that this url is vulnerable to SQL Injection
                                    {% endtrans %}
{##}
                                {% elif message.code == report.additional_data.statements.sql_time_base_injection %}
                                    {% trans trimmed %}
                                        It appears that this url is vulnerable to SQL Time Base Injection
                                    {% endtrans %}

                                {% elif message.code == report.additional_data.statements.headers_sql_injection %}
                                    {% trans trimmed %}
                                        It appears that this url is vulnerable to SQL Injection through HTTP Headers
                                    {% endtrans %}

                                {% elif message.code == report.additional_data.statements.headers_time_base_sql_injection %}
                                    {% trans trimmed %}
                                        It appears that this url is vulnerable to SQL Time Base Injection through HTTP Headers
                                    {% endtrans %}
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
            <p>
                {% trans trimmed %}
                    These vulnerabilities can lead to serious security breaches, including user data leaks and potential database manipulation.
                    The vulnerability occurs when dangerous user input is directly injected into SQL queries, allowing attackers to execute any SQL commands.
                {% endtrans %}
            </p>
            <p>
                {% trans trimmed %}Effects of the vulnerability:{% endtrans %}
                <ul>
                    <li> {% trans trimmed %}Possibility of personal use data leak.{% endtrans %}</li>
                    <li> {% trans trimmed %}Manipulation of data in the database.{% endtrans %}</li>
                    <li> {% trans trimmed %}Possibility of complete control over the database.{% endtrans %}</li>
                </ul>
            </p>
{% endif %}
