{% if task_result.task.priority != "normal" %}
    <span class="badge bg-dark">{{ task_result.task.priority }}</span>
{% endif %}

{% if task_result.status == "CACHED" %}
    <span class="badge bg-info">{{ task_result.status }}</span>
{% elif task_result.status == "ERROR" %}
    <span class="badge bg-danger">{{ task_result.status }}</span>
{% elif task_result.status == "INTERESTING" %}
    <span class="badge bg-warning">{{ task_result.status }}</span>
{% elif task_result.status == "OK" %}
    <span class="badge bg-success">{{ task_result.status }}</span>
{% endif %}

{% for header, value in task_result.task.headers.items() %}
    {% if header == "receiver" %}
        {# don't render #}
    {% elif header == "type" %}
        <span class="badge bg-primary">{{ header }}:{{ value }}</span>
    {% elif header == "service" %}
        <span class="badge bg-info">{{ header }}:{{ value }}</span>
    {% else %}
        <span class="badge bg-info">{{ header }}:{{ value }}</span>
    {% endif %}
{% endfor %}
