<a href="{{ request.url_for('get_analysis', root_id=entry.id) }}?task_filter=interesting">Show results</a> |
{% if enabled_modules %}
    <a href="#" data-bs-toggle="tooltip" title="{{ enabled_modules }}">Show enabled modules</a> |
{% endif %}
<a href="{{ request.url_for('get_pending_tasks', analysis_id=entry.id) }}">Show pending tasks</a> |
<a class="text-danger" href="{{ request.url_for('get_remove_pending_tasks', analysis_id=entry.id) }}">Remove pending tasks</a>
