<a href="/analysis/remove-pending-tasks/{{ entry.id }}">Remove pending tasks</a> |
<a href="/analysis/{{ entry.id }}?task_filter=interesting">Show results</a> |
<a href="#" data-bs-toggle="tooltip" title="{{ enabled_modules }}">Show enabled modules</a>
