<a href="{{ request.url_for('get_analysis', root_id=entry.id) }}?task_filter=interesting">Show results</a> |
{% if enabled_modules %}
    <a href="#" data-bs-toggle="tooltip" title="{{ enabled_modules }}">Show enabled modules</a> |
{% endif %}
<a href="{{ request.url_for('get_pending_tasks', analysis_id=entry.id) }}">Show pending tasks</a> |
<a class="text-danger remove-pending-tasks-link" href="#" data-analysis-id="{{ entry.id }}" data-analysis-target="{{ entry.target }}" data-bs-toggle="modal" data-bs-target="#remove-pending-tasks-modal">Remove pending tasks</a>
