<h2>{{ _("Cookie security issues") }}</h2>

{% if issues|length == 0 %}
  <p>{{ _("No cookie security issues detected.") }}</p>
{% else %}
  <ul>
  {% for i in issues %}
    <li>
      <strong>{{ i.title }}</strong> ({{ i.severity|upper }})<br/>
      <code>{{ i.code }}</code><br/>
      {% if i.details %}
        <pre>{{ i.details | tojson(indent=2) }}</pre>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endif %}