{% extends "components/base.jinja2" %}
{% block main %}
    <h1>Analysis of {{ analysis.payload.data }}</h1>
    <p>ID: {{ analysis.root_uid }}</p>

    <h4>Tasks</h4>
    <p>
        <a
            href="?status=INTERESTING"
            class="btn {% if status == "INTERESTING" %}btn-primary{% else %}btn-default {% endif %}
            id="show-interesting">
                Show only interesting findings
        </a>
        <a
            href="?"
            class="btn {% if status != "INTERESTING" %}btn-primary{% else %}btn-default{% endif %}
            id="show-all">
                Show all tasks
        </a>
    </p>
    <table id="analysis" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">receiver</th>
                <th scope="col">task</th>
                <th scope="col">headers</th>
                <th scope="col">status: reason</th>
                <th scope="col">decision</th>
            </tr>
      </thead>
  </table>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function() {
    const table = $("#analysis").dataTable({
      "pageLength": 50,
      "search": "interesting",
      "ajax": {
          "url": "/api/analysis/{{ analysis.root_uid }}/children{% if status %}?status={{ status }}{% endif %}",
          "dataSrc": ""
      },
      "columns": [
        {
          "data": "headers.receiver"
        },
        {
          "data": null,
          "render": function(task) {
            return `<a href="/task/${task.uid}">${task.target_string}</a>`
          }
        },
        {
          "data": "headers",
          "render": function(_, _, task) {
            let result = "";
            const append_badge = (color, value) => {
              result += `<span class="badge bg-${color}">${value}</span> `
            };

            if (task.priority !== "normal")
              append_badge("dark", task.priority);

            const status_map = {
              "CACHED": "info",
              "ERROR": "danger",
              "INTERESTING": "warning",
              "OK": "success",
            };
            append_badge(status_map[task.status], task.status);

            const headers_map = {
              "type": "primary",
              "service": "info",
            };

            for (const [header, value] of Object.entries(task.headers))
            {
              // blacklist
              if (["receiver"].includes(header))
                continue;

              append_badge(headers_map[header] || "info", `${header}:${value}`);
            }
            return result;
          },
        },
        {
          "data": "status_reason"
        },
        {
          "data": null,
          "render": function(task) {
            if (task.decision) {
                return `${task.decision.decision_type} ${task.decision.operator_comment}`;
            } else {
                return `<a href="/task/${task.uid}">Decide</a>`;
            }
          }
        },
      ],
      "order": []
    });
  })
</script>
{% endblock %}
