{% extends "components/base.jinja2" %}
{% block main %}
    <h1>Analysed targets</h1>
    {% if entries %}
        <div class="container">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">URL</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in entries %}
                            <tr>
                                <td>{{ entry.payload.data }}</td>
                                <td>
                                    {% if entry.num_active_tasks > 0 %}
                                        <span class="badge bg-warning">
                                            In progress (pending tasks: {{ entry.num_active_tasks }})
                                        </span>
                                    {% else %}
                                        <span class="badge bg-success">
                                            Done
                                        </span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="/analysis/{{ entry.id }}?task_filter=interesting">Show results</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <p>
            <a class="btn btn-primary" href="/results?task_filter=interesting">Show results for all targets</a>
        </p>
        <p>
            Hint: Browse to the <a href="/queue">task queue</a> to see how the tasks are progressing.
        </p>
    {% else %}
        No targets have yet been analysed. <a href="/add">Analyze targets.</a>
    {% endif %}
{% endblock %}
