{% extends "components/base.jinja2" %}

{% block main %}
    <h1>No API token</h1>
    <p>
        Set the <tt>API_TOKEN</tt> variable in the <tt>.env</tt> file to use the API.
    <p>
{% endblock %}
