{% extends "components/base.jinja2" %}
{% block main %}
    <h1>{{ title }}: pending tasks (count: {{ num_tasks }})</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">created at</th>
                <th scope="col">ID</th>
                <th scope="col">tag</th>
                <th scope="col">receiver</th>
                <th scope="col">target</th>
                <th scope="col">status</th>
            </tr>
        </thead>
        <tbody>
            {% for task, target in tasks %}
                <tr>
                    <td>
                        {{ task.payload.created_at }}
                    </td>
                    <td>
                        {{ task.uid }}
                    </td>
                    <td>
                        {{ task.payload_persistent.tag }}
                    </td>
                    <td>
                        {{ task.headers.receiver }}
                    </td>
                    <td>
                        {{ target }}
                    </td>
                    <td>
                        {% if task.status.value == "Spawned" %}
                            Waiting in queue
                        {% elif task.status.value == "Started" %}
                            Running
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
