{% extends "components/base.jinja2" %}
{% block main_raw %}
    <iframe id="dashboard-frame" class="w-100 h-100" style="border: none; margin-top: -90px" src="/karton-dashboard/"></iframe>
{% endblock %}
