{% extends "components/base.jinja2" %}

{% block main %}
    <h1>Remove pending tasks</h1>

    <form method="POST" action="/analysis/remove-pending-tasks/{{ analysis_id }}">
        <div class="alert alert-info">
            You are about remove pending tasks from the analysis of <tt>{{ analysed_object }}</tt>.
            <b>Tasks currently running will finish.</b>
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <input type="submit" class="btn btn-primary" value="Remove" />
    </form>
{% endblock %}
