{% extends "components/base.jinja2" %}
{% block main %}
<div class="bs-component" style="padding-top: 100px">
  <h3 class="text-center">Task results {{ task.id }} (running {{task.task['headers']['receiver']}} on {{ task.target_string }})</h3>

  {% if task.status_reason %}
      <div class="alert alert-primary">
          {{ task.status_reason }}
      </div>
  {% endif %}

  {% if task.status == 'ERROR' %}
      <div class="alert alert-warning">
          <h4>Error</h4>
          <pre><code>{{ task.result }}</code></pre>
      </div>
  {% endif %}

  <h4>Result</h4>
  <pre><code>{{ pretty_printed }}</code></pre>

  <h4>Metadata</h4>
  <dl class="row">
    <dt class="col-3">UID</dt>
    <dd class="col-9">{{task.id}}</dd>
    <dt class="col-3">Priority</dt>
    <dd class="col-9">
        <span class="badge bg-dark">{{task.task.priority}}</span>
    </dd>

    {% if task.parent_uid %}
        <dt class="col-3">Parent UID</dt>
        <dd class="col-9">
            <a href="/task/{{task.parent_uid}}">{{task.task.parent_uid}}</a>
        </dd>
    {% endif %}

    <dt class="col-3">Analysis</dt>
    <dd class="col-9">
      <a href="/analysis/{{task.analysis_id}}">{{task.analysis_id}}</a>
    </dd>

    <dt class="col-3">Origin</dt>
    <dd class="col-9">
      <a href="/karton-dashboard/queue/{{task.task['headers']['origin']}}">{{task.task['headers']['origin']}}</a>
    </dd>

    <dt class="col-3">Receiver</dt>
    <dd class="col-9">
      <a href="/karton-dashboard/queue/{{task.task['headers']['receiver']}}">{{task.task['headers']['receiver']}}</a>
    </dd>

    <dt class="col-3">Headers</dt>
    <dd class="col-9">
      {% for hdrname, hdrval in task.task['headers'].items() %}
      {% if hdrname == 'type' %}
      <span class="badge bg-primary">{{hdrname}}:{{hdrval}}</span>
      {% elif hdrname == 'kind' %}
      <span class="badge bg-info">{{hdrname}}:{{hdrval}}</span>
      {% elif hdrname == 'stage' %}
      <span class="badge bg-success">{{hdrname}}:{{hdrval}}</span>
      {% elif hdrname == 'receiver' %}
      {% else %}
      <span class="badge bg-secondary">{{hdrname}}:{{hdrval}}</span>
      {% endif %}
      {% endfor %}
    </dd>
  </dl>
  <h4>Logs</h4>
  <pre><code>{{ task.logs }}</code></pre>
</div>
{% endblock %}
