{% extends "components/base.jinja2" %}
{% block main %}
    <h1>{{ title }}</h1>

    <h4>Raw task results</h4>
    <div class="alert alert-info mt-3">
        {% include "components/generating_reports_hint.jinja2" %}
    </div>

    <p>
        <a
            href="?task_filter=interesting"
            class="btn {% if task_filter == "interesting" %}btn-primary{% else %}btn-secondary{% endif %}">
                All interesting findings
        </a>
        <a
            href="?" class="btn {% if not task_filter %}btn-primary{% else %}btn-secondary{% endif %}">
                All tasks
        </a>
    </p>
    <table id="task_list" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">created at</th>
                <th scope="col">tag</th>
                <th scope="col">receiver</th>
                <th scope="col">task</th>
                <th scope="col">headers</th>
                <th scope="col">status: reason</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            const table = $("#task_list").dataTable({
                ajax: {{ api_url|tojson }},  // we want to prevent & being converted to &amp; here
                pageLength: 100,
                serverSide: true,
                columnDefs: [{
                    "targets": [4],
                    "orderable": false
                }]
            });
        })
    </script>
{% endblock %}
