{% if "exposed_version_control_folder_with_credentials" in data.contains_type %}
    <li>
        {% trans trimmed %}
            The following addresses contain version control system data together with login credentials:
        {% endtrans %}
        <ul>
            {% for report in data.reports %}
                {% if report.report_type == "exposed_version_control_folder_with_credentials" %}
                    <li>
                        {{ report.target }} ({{ _("username") }}: {{ report.additional_data.username }}, {{ _("password") }}: {{ report.additional_data.password_prefix }}...)
                        {{ report_meta(report) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <p>
            {% trans trimmed %}
                Making a code repository public may allow an attacker to learn the inner workings of
                a system, and if it contains passwords or API keys - also gain unauthorized access.
                If the repository resides in a publicly accessible system and the credentials have
                write permissions, making them public may allow arbitrary modification of the code in
                this repository and all other repositories the credentials allow access to. Such data
                shouldn't be publicly available.
            {% endtrans %}
        </p>
    </li>
{% endif %}
