{% if "misconfigured_email" in data.contains_type %}
    <li>{% trans %}The following domains don't have properly configured e-mail sender verification mechanisms:{% endtrans %}
        <ul>
            {% for report in data.reports %}
                {% if report.report_type == "misconfigured_email" %}
                    <li>
                        {{ report.target }}: {{ report.report_data.message_translated }}
                        {{ report_meta(report) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <p>
            {{ _("These mechanisms greatly increase the chance that the recipient server will reject a spoofed message.")|safe }}
            {{ _("Even if a domain is not used to send e-mails, SPF and DMARC records are needed to reduce the possiblity to spoof e-mails.")|safe }}
        </p>
    </li>
{% endif %}
