Hint: if, instead of browsing the raw task results, you want to export concise
<a href="https://artemis-scanner.readthedocs.io/en/latest/generating-reports.html#example-vulnerability-report-generated-by-artemis">
HTML reports</a> with few false positives and duplicates, <a href="/export">click here</a>.
