<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/static/images/logo.png" class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/add">Add targets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">View targets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/results?task_filter=interesting">View raw task results</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/export">Export reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/exports">View exported reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/queue">Task queue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/restart-crashed-tasks">Restart crashed tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/docs">API</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
