<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Artemis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/add">Add URLs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/queue">Task queue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs">API</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
