{% if "open_port_database" in data.contains_type %}
    <li>{% trans %}The following servers have open database ports:{% endtrans %}
        <ul>
            {% for report in data.reports %}
                {% if report.report_type == "open_port_database" %}
                    <li>
                        {{ report.target }} ({{ report.additional_data.service }}) {% if report.last_domain %}({% trans %}domain: {% endtrans %}{{ report.last_domain }}){% endif %}
                        {{ report_meta(report) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <p>
            {% trans trimmed %}
                We do not recommend database ports to be publicly available - although they require correct username
                and password to login, an attack is possible when the password leaks or is too simple.
                A password leak may be caused e.g. by an accidentally exposed configuration file such as a backup of
                <tt>/wp-config.php</tt> or by a local file inclusion vulnerability. Such mistakes are frequent, and lack of publicly exposed
                database ports makes it significantly harder to perform an attack.

                The recommended configuration is to make the database available to the application locally or using an internal network.
            {% endtrans %}
        </p>
    </li>
{% endif %}
