{% if "open_port_database" in data.contains_type %}
    <li>{% trans %}The following servers have open database ports:{% endtrans %}
        <ul>
            {% for report in data.reports %}
                {% if report.report_type == "open_port_database" %}
                    <li>
                        {{ report.target }} ({{ report.additional_data.service }}) ({% trans %}domain: {% endtrans %}{{ report.last_domain }})
                        {{ report_meta(report) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <p>
            {% trans trimmed %}
                Databases shouldn't be publicly available - an attack is possible when the password
                leaks (e.g. because of an exposed configuration file such as a backup of <tt>/wp-config.php</tt>).
                The recommended configuration is to make the database
                available to the application locally or using an internal network.
            {% endtrans %}
        </p>
    </li>
{% endif %}
