{% if "exposed_http_server_info_status" in data.contains_type %}
    <li>{% trans %}The following addresses contain HTTP server status pages:{% endtrans %}
        <ul>
            {% for report in data.reports %}
                {% if report.report_type == "exposed_http_server_info_status" %}
                    <li>
                        {{ report.target }}
                        {{ report_meta(report) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <p>
            {% trans %}Such endpoints shouldn't be publicly accessible.{% endtrans %}
        </p>
    </li>
{% endif %}
