{% if "exposed_password_file" in data.contains_type %}
    <li>{% trans %}The following files contain passwords or password hashes:{% endtrans %}
        <ul>
            {% for report in data.reports %}
                {% if report.report_type == "exposed_password_file" %}
                    <li>
                        {{ report.target }}
                        {{ report_meta(report) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <p>
            {% trans %}Such data shouldn't be publicly accessible.{% endtrans %}
        </p>
    </li>
{% endif %}
