name: "long running tests"


on:
  schedule:
   - cron: "30 11 * * *"

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: run tests
        run: ./scripts/test_long_running
