name: "tests"
on:
  pull_request:
    branches: [ '**' ]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 35
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: run tests
        run: ./scripts/test
