name: "tests"
on:
  pull_request:
    branches: [ '**' ]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: set RUNNING_ON_GITHUB in env.test
        run: echo RUNNING_ON_GITHUB=1 >> env.test
      - name: run tests
        run: ./scripts/test
