{% if "nuclei_exposed_panel" in data.contains_type %}
    <li>{% trans %}The following addresses contain login panels, analytics services, management panels etc.:{% endtrans %}
        <ul>
            {% for report in data.reports %}
                {% if report.report_type == "nuclei_exposed_panel" %}
                    <li>
                        {{ report.target }}: {{ report.additional_data.description_translated }}
                        {{ report_meta(report) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <p>
            {% trans trimmed %}
                To decrease the probability of an attack (caused by an attacker using a leaked password,
                by one of the accounts having a weak password, or by vulnerabilities in the service), we
                recommend to have as few such publicly accessible services as possible.
            {% endtrans %}
        </p>
        <p>
            {% trans trimmed %}
                Even if they require correct username and password to login, an attack is possible when the password leaks (for example,
                for database management panels, the leak may be caused by an exposed configuration
                file such as a backup of <tt>/wp-config.php</tt>). Such path is often used by attackers.
            {% endtrans %}
        </p>
        <p>
            {% trans trimmed %}
                We recommend that such resources are only available in an internal network, using a VPN
                or from a restricted set of IP addresses.
            {% endtrans %}
        </p>
    </li>
{% endif %}
